<!DOCTYPE html>
  <html lang="en">
  <head>
    <title>Friendship Meter</title>
  </head>
  <body>
    
    <form action="result" method="POST">
    	
    	<h4>SQL Converter</h4>
    	
   		<textarea rows="20" cols="100" name="sql">
			
   		</textarea>
   		
   		<br>     
   		
   		<select name="to_sql">
   			<option value="sql_server">SQL Server</option>
   			<option value="my_sql">My SQL</option>
   			<option value="postgre_sql">Postgre SQL</option>
   		</select>	
      	
      	<input type="submit" value="Convert"/>
      	
    </form>    
    

  </body>
  </html>